/* Initial */
	* {
		margin: 0;
		padding: 0;
	}

	html, body {
		width: 100%;
		position: relative;
		min-height: 100%
	}

	body {
		font-family: Arial;
		font-size: 14px;
	}

	a img {
		border: none;
	}

/* Content */
	#content {
		width: 100%;
		height: 100%;
		text-align: center;
	}

	h1 {
		position: relative;
		z-index: 2;
		color: #fff;
		padding-top: 2rem;
		font-weight: lighter;
		text-transform: uppercase;
	}
	h1 strong {
		font-weight: bold;
	}

/* Find Again */
	#findAgain {
		width: 100%;
		background-color: #8a8a8a;
		padding: 2rem 0;
		position: absolute;
		top: 0;
	}
	#findButton {
		border: 0;
		outline: none;
		cursor: pointer;
		border-radius: 14px;
		margin-top: 3rem;
		background-color: #2383a2;
		color: #fff;
		padding: 0.5rem 1rem;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}
	#findButton.hide {
		visibility: hidden;
		opacity: 0;
	}

/* Modal Intro */
	#modalSelect {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.8);
		box-sizing: border-box;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}
	#modalSelect.hide {
		opacity: 0;
		visibility: hidden;
	}
	#modalSelect:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		position: relative;
		height: 100%;
	}
	#controls {
		display: inline-block;
		vertical-align: middle;
		width: 330px;
	}
	#controls fieldset {
		border: 0;
		position: relative;
	}
	#controls fieldset:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 13px;
		right: 14px;
		border-top: 8px solid #000;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
	}
	#controls fieldset + fieldset {
		margin-top: 3rem;
	}
	#controls fieldset label {
		color: #fff;
		display: block;
		margin-bottom: 0.5rem;
	}
	#controls fieldset select {
		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
		border: 1px solid #000;
		border-radius: 14px;
		text-transform: uppercase;
		padding: 0.7rem 0.8rem;
		text-align: center;
		width: 100%;
		color: #fff;
		outline: none;
		background-color: #4c4c4c;
	}
	#controls fieldset select option {
		text-align: center;
	}
	#controls button {
		cursor: pointer;
		border: 0;
		width: 50px;
		height: 50px;
		float: right;
		border-radius: 50%;
		background-color: #2383a2;
		outline: none;
		position: relative;
		margin-top: 1rem;
		text-indent: -9999px;
	}
	#controls button:before {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -3px;
		margin-top: -8px;
		width: 0;
		height: 0;
		border-left: 10px solid #000;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		display: block;
	}

/* Map */
	div#myMaps {
<<<<<<< HEAD
=======
		cursor: move;
>>>>>>> ea75017cbc2d933b22ed6d5702f11efef336b387
		margin: 6rem auto 0;
		width: 1280.17px;
		height: 450px;
	}
	div#myMaps div {
		display: inline-block;
		width: 100%;
	}
	div#mapLoading {
		font-size: 10em;
		left: 50px;
		position: absolute;
		top: 60px;
		z-index: -1;
	}

/* Example Style */
	.debugPath {
		stroke: orange;
		stroke-width: 5;
	}
	.debugRoom {
		fill: red;
		stroke: red;
		stroke-width: 4;
	}
	.wayfindingRoom {
		fill: #000;
		stroke: transparent;
		stroke-width: 2;
		stroke-dasharray: 5 3;
	}

/* Media */
<<<<<<< HEAD
@media only screen and (max-width: 768px) {
=======
@media only screen and (max-width: 1024px) {
>>>>>>> ea75017cbc2d933b22ed6d5702f11efef336b387
	h1 {
		font-size: 1.4rem;
	}
	div#myMaps {
		width: 100%;
		padding: 1rem 2rem;
		box-sizing: border-box;
		overflow-x: auto;
	}
<<<<<<< HEAD
=======
	div#myMaps svg {
		width: 100%;
	}
>>>>>>> ea75017cbc2d933b22ed6d5702f11efef336b387
}